.App {
  text-align: center;
}

#app-name {
  font-family: Oswald;
  font-size: 25px;
}
.navbar {
  height: 70px;
}

#nav-ul {
  color: white;
  font-family: "Roboto Slab", serif;
}

#nav-ul:hover {
  color: black;
}

#nav-btn {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

#nav-btn:hover {
  color: white;
}

#BgImage {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

#header-msg {
  position: absolute;
  width: auto;
  top: 140px;
  left: 170px;
  text-align: center;
  padding: 0;
  margin: 0;
}

#header-sub-msg {
  background-color: #008080;
  font-family: "Roboto Slab", serif;
}
#sub-msg-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  /* width: 100%; */
  padding: 20px;
}

#sub-msg-ul li {
  color: white;
  text-decoration: none;
}

#sub-msg-ul li:hover {
  color: black;
}

#header-text {
  font-family: "Fjalla One", sans-serif;
  font-size: large;
}

#header-text-2 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

#img-btn {
  font-family: "Roboto Slab", serif;
  color: black;
  font-weight: bolder;
}

#img-btn:hover {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#header-text {
  margin-top: 40px;
}

#header-text-2 {
  margin-top: 40px;
}

/* BODY */
#steps-2-drive {
  font-family: "Fjalla One", sans-serif;
}

#steps-2-drive img {
  width: 100px;
}

#steps-btn {
  font-weight: 400;
}

#steps-btn:hover {
  color: white;
}

#arrowImg {
  width: 100px;
}

/* form */

#form-cover {
  height: 100vh;
  margin: auto;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  /* margin-left: 40%; */
  /* border: 1px solid red; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; */
  width: 500px;
  margin-top: -30px;
}

#form input {
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.397);
  border: none;
  font-size: 20px;
}

#submitBtn {
  width: 400px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
}

#signUp-text {
  width: 400px;
  text-align: justify;
}

/* BODY2 */

#body2Cover {
  background-color: rgba(220, 220, 220, 0.226);
}

#bookRideImgCover {
  margin-left: 190px;
}

#bookRIdeImg {
  width: 400px;
  height: 400px;
}

#bookRideText {
  /* width: 70%; */
}

#bookRideBtn {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  width: 400px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
}

#bookRideBtn:hover {
  color: white;
}


/* DASHBOARD */

/* DASHBOARDSIDE */

#dashBoardSide {
  float: left;
  /* background-color: #29d3d377; */
  text-align: center;
}

#profileImg {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

#dashboardFields >div {
  display: flex;
  margin: 30px;
}

#dashboardFields img{
  width: 30px;
}

#dashboardFields p{
  color: #008080;
  font-weight: 500;
  margin: 5px 0 0 20px ;
}

#logout {
  margin-top: 130px !important;
}